/* global styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif, Roboto, system, Helvetica, Arial, Tahoma,
    PingFang SC, Hiragino Sans GB, Lantinghei SC, Microsoft YaHei, sans-serif;
}
main {
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d354f;
}

.left-img img {
  height: 100vh;
  width: 90%;
}
main .right-img {
  display: flex;
  position: relative;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
}
/* Style the login message ============================*/
h4 {
  width: 95%;
  position: absolute;
  bottom: 65%;
  right: 20%;
  color: aliceblue;
  font-weight: 700px;
  line-height: 30px;
  font-size: 24px;
  margin-bottom: 8%;
  margin-top: 23%;
  text-align: center;
}
/* End of Style the login message ======================*/

/* Style the hi icon ======================*/
.hi {
  position: absolute;
  bottom: 90%;
  color: aliceblue;
  right: 100%;
  background-image: url('../images/hi.png');
  width: 170px;
  height: 170px;
  background-size: 100%;
}

/* End of Style the hi icon ======================*/
.form-flex {
  display: inline-block;
  padding-left: 32px;
  box-sizing: border-box;
  /* width: 25vw; */
  padding-top: 50%;
}

/* Style the the input form  ======================*/
input {
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 8px;
  background-color: #47516f !important;
  padding-left: 40px;
  padding-right: 40px;
  margin-right: 50px;
  color: aliceblue;
}
/* End of Style the input form  ======================*/

.user-class {
  position: relative;
  right: 19%;
  margin-bottom: 44px;
  height: 60px;
  width: 25vw;
  /* background-color: #47516f !important; */
}
.pass-class {
  position: relative;
  /* margin-bottom: 44px; */
  height: 60px;
  right: 19%;
  width: 25vw;
}

/* Style the icons for input boxes ==========================*/
.username {
  position: absolute;
  width: 74px;
  height: 74px;
  left: -37px;
  top: -6px;
}
.pass {
  position: absolute;
  width: 74px;
  height: 74px;
  left: -37px;
  top: -6px;
}
/* END of Style the icone for input boxes ======================*/
form {
  display: inline-block;
}

/* forget password styling */
.forget {
  margin-top: 15px;
  margin-right: 55px;
  font-size: 16px;
  line-height: 19px;
  color: #f5f5f6;
  text-align: right;
  font-weight: 300px;
  cursor: pointer;
}
/* End of forget password styling */
.submit-btn {
  width: 68.8%;
  color: #fff;
  margin: 10% auto 0;
  background-color: #1fc7a6;
  height: 60%;
  text-align: center;
  line-height: 70px;
  font-size: 28px;
  font-weight: 500;
  border-radius: 18px;
  color: #fff;
  cursor: pointer;
}

/* Adding media query to the site. */

@media screen and (max-width: 862px) {
  .left-img img {
    height: 90vh;
    width: 90%;
  }
  .submit-btn {
    width: 75%;
    color: #fff;
    margin: 5% auto 0;
    height: 30%;
    line-height: 45px;
    font-size: 28px;
    font-weight: 250;
    border-radius: 18px;
    color: #fff;
    cursor: pointer;
    left: 50%;
  }
  h4 {
    width: 95%;
    position: absolute;
    bottom: 65%;
    right: 20%;
    color: aliceblue;
    font-weight: 300px;
    line-height: 30px;
    font-size: 14px;
    margin-bottom: 8%;
    margin-top: 23%;
    text-align: center;
  }
}
/*End of 862 viewport Adding media query to the site. */

@media screen and (max-width: 771px) {
}
